body {
  padding: 0 auto;
}

.top-section {
  background-color: #E5F3F2;
  height: 300px;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.bottom-section {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  color: #6D6E71;
  text-align: center;
}

h1 {
  color: #00A79D;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 2rem 0;
}

span {
  color:#6D6E71 
}

form{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.inputs {
  height: 1.8rem;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.inputs::placeholder {
  color: #939598;
}

.save-button {
  height: 2rem;
  width: 101%;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1rem;
}

.save-button:hover {
  background-color: #045E55;
}

.filter-input {
  display:  block;
  width: 50%;
  margin: 1rem auto;
}

article {
  margin: 1rem auto 2rem auto;
  width: 50%;
  height: 11rem;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  font-size: larger;
  overflow: scroll;
  width: 90%;
  height: 2rem;
}

p {
  color: #939598;
  overflow: scroll;
  height: 50%;
  margin: 1rem 0;
}

h3 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color: #939598;
  padding-left: .5rem;
}

.importance {
  font-family: 'Open Sans', sans-serif;
}

.show-completed,
.show-more-ToDos {
  margin: 0 auto;
  width: 12rem; 
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1rem;
  display: block;
  position: relative;
}

.show-completed:hover,
.show-more-ToDos:hover {
  background-color: #045E55;
}


article img {
  width: 1.75rem; 
  height: 1.75rem;
}

.delete-button {
  float: right;
}

.delete-button:hover {
  content: url('icons/delete-hover.svg');
}

.voters {
  margin: 0 1rem 0 0;
}

.upvote-button:hover {
  content: url('icons/upvote-hover.svg');
}

.downvote-button:hover {
  content: url('icons/downvote-hover.svg');
}

.completed-task {
  border: none;
  background-color: #00A79D;
  border-radius: 1rem;
  color: #FFFFFF; 
  float: right;
  padding: .25rem;
}

.card-complete {
  background-color: #E5F3F2; 
}

@media screen and (max-width: 950px) {

form {
  width: 65%;
}

.save-button {
  font-size: 15px;
}

.filter-input {
  width: 65%;
}

article {
  width: 65%;
}
}

@media screen and (max-width: 700px) {

form {
  width: 80%;
}

.save-button {
  font-size: 15px;
}

.filter-input {
  width: 80%;
}

article {
  width: 80%;
}
}

@media screen and (max-width: 400px) {

form {
  width: 80%;
}

.save-button {
  font-size: 15px;
}

.filter-input {
  width: 80%;
}

article {
  width: 80%;
}
}

