/*---------BLANKET PAGE STYLINGS------------*/

body {
  padding: 0 auto;
}

.top-section {
  align-content: center;
  background-color: #E5F3F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 300px;
  position: relative;
}

.bottom-section {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  overflow: scroll;
}
/*----------------FORM FIELD STYLINGS----------*/
header {
  color: #6D6E71;
  text-align: center;
}

h1 {
  color: #00A79D;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
}

span {
  color:#6D6E71 
}

form{
  display: block;
  margin: 0 auto;
  width: 50%;
}

.inputs {
  font-size: 1.2rem;
  height: 1.8rem;
  margin-top: 1.6rem;
  width: 100%;
}

.inputs::placeholder {
  color: #939598;
}

h4 {
  display: inline;
  float: right;
}

.save-button {
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1rem;
  height: 2rem;
  margin-top: .75rem;
  width: 101%;
}

.save-button:hover {
  background-color: #045E55;
}

.filter-input {
  display:  block;
  margin: 1rem auto;
  width: 50%;
}

/*-------------EXTRA BUTTON STYLINGS--------*/

.importance {
  font-family: 'Open Sans', sans-serif;
}

.box-filter-importances, 
.box-complete-extra-buttons {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin: 1rem auto;
  width: 50%;
}

.show-completed,
.show-more-ToDos {
  height: 2rem;
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  width: 12rem; 
}

.show-completed:hover,
.show-more-ToDos:hover {
  background-color: #045E55;
}

.box-filter-importances button {
  background-color: #E5F3F2;
  border: .05rem solid #045E55;
  border-radius: 10rem;
  color: #045E55;
  font-size: large;
}

.box-filter-importances button:hover {
  background-color: #00A79D;
  color: white;
}

/*-----------TASK STYLINGS-----------*/

article {
  height: 11rem;
  margin: 1rem auto 2rem auto;
  width: 50%;
}

h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: larger;
  height: 2rem;
  overflow: scroll;
  width: 90%;
}

p {
  color: #939598;
  height: 50%;
  margin: 1rem 0;
  overflow: scroll;
}

h3 {
  color: #939598;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  padding-left: .5rem;
}

article img {
  height: 1.75rem;
  width: 1.75rem; 
}

.delete-button {
  float: right;
}

.delete-button:hover {
  content: url('icons/delete-hover.svg');
}

.voters {
  margin: 0 1rem 0 0;
}

.upvote-button:hover {
  content: url('icons/upvote-hover.svg');
}

.downvote-button:hover {
  content: url('icons/downvote-hover.svg');
}

.completed-task {
  background-color: #00A79D;
  border: none;
  border-radius: 1rem;
  color: #FFFFFF; 
  float: right;
  padding: .25rem;
}

.card-complete {
  background-color: #E5F3F2; 
}

@media screen and (max-width: 1000px) {


form {
  width: 65%;
}

.save-button {
  font-size: 15px;
}

.filter-input {
  width: 65%;
}

.box-filter-importances, 
.box-complete-extra-buttons {
  width: 65%;
}

article {
  width: 65%;
}
}

@media screen and (max-width: 750px) {

form {
  width: 80%;
}

.save-button {
  font-size: 15px;
}

.filter-input {
  width: 80%;
}

.box-filter-importances, 
.box-complete-extra-buttons {
  width: 80%;
}

article {
  width: 80%;
}
}

@media screen and (max-width: 500px) {

h1 {
  font-size: x-large;
  margin: .5rem auto 0 auto;
}

form {
  width: 90%;
}

input {
  margin-top: .5 auto 0 auto;
  overflow-wrap: ejoeihffoiafi  break-inside: 120px;
}

.todo-task-input {
  height: 6rem;
}

.save-button {
  font-size: 15px;
}

.bottom-section {
  padding: 0 auto;
}

.filter-input {
  width: 90%;
}

.box-complete-extra-buttons {
  display: block;
  height: 4rem;
  margin: .5rem auto;
  width: 90%;
}

.show-completed,
.show-more-ToDos {
  display: block;
  height: 48%;
  margin: .5rem auto;
  width: 100%;
}

.box-filter-importances {
  height: 2.5rem;
  margin: 1rem auto;
  width: 88%;
}

.box-filter-importances button {
  font-size: medium;
}

article {
  width: 90%;
}

article p {
  margin: 0;
}

}

